div {
    color: #000000;
    font-family: Tahoma, Verdana, sans-serif;
    padding: 10px;
}
.container {
    background-color: #f7ff5c;
    display: flex;
    width: 1420px;
}
.side {
    background-color: #fbffb6;
    width: 700px;
    flex: 1;
}
.left {
    background-color: #ffffff;
    width: 700px;
}
.layout {
    background-color: #ffffff;
}
.inner {
    background-color: #fbffb6;
    width: 100vw;
}
.start {
    text-align: center;
    display: flex;
}
.graph {
    width: 1420px;
    background-color: #ffffff;
    height: 820px;
    padding: 10px 10px 10px 10px;
}
H1, H2, H3 {
    color: #000000;
    font-family: Tahoma, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
}
